- if user_signed_in?
  .purchaseBtn
    .purchaseBtn__text
    = link_to new_item_path(current_user.id), class: 'purchaseBtn__text' do
      出品する
    = image_tag "icon_camera.png", class: 'purchaseBtn__icon'
- else
  .purchaseBtn
    .purchaseBtn__text
      = link_to new_item_path, class: 'purchaseBtn__text' do
        出品する
      = image_tag "icon_camera.png", class: 'purchaseBtn__icon'
  