.wrapper
<<<<<<< HEAD
  -# = render 'messages/toppage-header'
  -# = render 'messages/toppage-main'
  -# = render 'messages/toppage-footer'
  = render 'messages/toppage-Btn'
=======
  -# = render 'messages/toppage-header'
  -# = render 'messages/toppage-main'
  -# = render 'messages/toppage-footer'
  = render 'messages/toppage-Btn'
>>>>>>> 9e4d3611b59f557bda7770bdc52dbccff04b424c
