.footer-bottom{
  padding: 60px 0;
    color: #fff;
    background-color: #272727;
    text-align: center;
  &__navmain{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
  }
  &__navlist{
    display: block;
  }
  &__summary{
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;
  }
  &__sight{
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;
  }
  &__guide{
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;
  }
  &__navtitle{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
  &__nav{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
  }
  &__content{
    display: inline-block;
    vertical-align: top;
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__lysence{
    font-size: 14px;
  }
}
