-# .header
-#   = render 'messages/toppage-header'

.exhibition-page_box
  .exhibition-page_box_top
    = render 'top'
  -# .exhibition-page_box_under
  -#   = render 'under'

-# .footer
-#   = render 'messages/toppage-footer'

-# .review-box
-#   .main-box
-#     %img{alt:"preview"}
-#   .delete-box
-#     削除