
.add-credit-top{
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  padding: 8px 0;
  border-bottom: 2px solid #f5f5f5;
}
  
.add-credit-main {
  width: 100vw;
  background:white;
  padding: 50px 25%;
  .card-details {
    width: 100%;
    margin-top: 30px;
    .card-details2 {
      width: 100%;
      font-size: 30px;
      margin-top: 10px;
    }
  }
}
h2{
  margin-bottom: 15px;
  font-size: 20px;
}
.card_delete {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__btn {
    background-color: #ea352d;
    color: #fff;
    width: 100%;
    font-size: 20px;
    min-height: 48px;
    padding: 0 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    text-decoration: none;

  }
}
.form-list{
  margin:30px auto 0px;
  max-width: 343px;
  
  .text{
    font-size: 20px;
    margin-top: 10px;
    width: 340px;
    height: 38px;
  }
  .form-must {
    font-size: 16px;
    padding: 0 4px;
    background-color: #ff0211;
    color: #fff;
    font-weight: 600;
    margin-left: 8px;
    border-radius: 2px;
  }
  .form-group label {
    font-weight: 600;
  }
  .select-wrap {
    float:left;
    background: #fff;
  }
  
  .exparation-select-wrap .select-wrap {
    width: 76px;
  }
  .form-list .input-data {
    width: 100%;
    margin: 8px 0 0;
  }  
}
.btn-cards{
  margin: 45px auto 0;
  background-color: #3CCACE;
  color: #fff;
  display: block;
  width: 343px;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  // cursor: pointer;
  text-align: center;
}
.yourselfs{
  float:right;
}
.date{
  font-size: 20px;
  margin: 10px 50px 0 10px;
  width: 80px;
  height: 35px;
}