// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-credit-top{
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  margin-top: 40px;

  
  &__main{
    width: 100vw;
    margin-right: 15vw; 
    background:white;
    padding-bottom:60px;
    padding-top: 8px;
    padding-bottom: 64px;
    &__content{
      margin: 0 auto;
      max-width: 343px;
      padding-top:20px;
      a{
        // color: #0099e8;
        text-decoration: none;
      }
      .form-list{
        margin:25px auto 0px;
        max-width: 343px;
        .btn-cards{
          margin: 45px auto 0;
          background-color: #3CCACE;
          color: #fff;
          display: block;
          width: 343px;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          // cursor: pointer;
          text-align: center;
        }
        .yourselfs{
          float:right;
        }
      }
    }

    &__new h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      padding: 8px 0;
      border-bottom: 2px solid #f5f5f5;

    }
  }
}

.exparaiton{
  padding-top:10px;
}

.form-must {
  font-size: 12px;
  padding: 0 4px;
  background-color: #ff0211;
  color: #fff;
  font-weight: 600;
  margin-left: 8px;
  border-radius: 2px;
}

.form-group label {
  font-weight: 600;
}

.form-list .input-data {
  width: 100%;
  margin: 8px 0 0;
}

.form-list label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.halfs{
  display:flex;
  padding:10px 0px;
}

.payment-input-data {
  margin-top:5px;
  width:343px;
  padding: 10px 10px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


// .exparation-select-wrap{
//   padding-bottom:15px;
//   display:flex;
// }

// .select-wrap {
//   float:left;
//   background: #fff;
// }

.exparation-select-wrap .select-wrap {
  width: 76px;
}

.select-default {
  width: 70px;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.date{
  height:48px;
  line-height:48px;
}
