// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-p { 
  img {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 30px;
  }
  background-color: #fff;
  padding-right: 40px;
  position: relative;
  margin-top: 25px;
  .profile-form{
    text-align: center;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    .profile-header{
      font-size: 24px;
      padding: 8px 24px;
    }
    .profile-details {
      .profile-name{
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        padding: 8px 24px;
        height:150px;
      }
    } 
  }
  } 
  .mypage-nav-list{
    padding: 16px;
    text-align: center;
    &-item {
      position: relative;
      display: block;
      text-align: center;
      min-height: 48px;
      padding: 16px;
      background-color: #ffffff;
      font-size: 14px;
    }
  }
  


ul {
  list-style: none;
}
